html {
    font-size: 20px;
}

body {
    background-color: aliceblue;
    color: darkslateblue;
}

#header, #content {
    background-color: lightsteelblue;
    border-radius: 15px;
    width: 50vw;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 5px 5px slategrey;
    text-align: center;
}

#input-task {
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    border-top: 2px solid lightsteelblue;
    border-right: 2px solid lightsteelblue;
    border-left: 2px solid lightsteelblue;
    border-bottom: 3px solid darkslateblue;
    background-color: lightsteelblue;
    font-size: 20px;
    width: 75%;
    color: darkslateblue;
}

#input-task:focus {
    margin: 5px;
    background-color: aliceblue;
    outline: none;
    border: 2px solid darkslateblue;
    box-shadow: 0 0 2px 2px darkslateblue;
    color: darkslateblue;
}

#add-task-button, .delete-btn {
    border: 3px solid darkslateblue;
    margin: 5px;
    padding: 5px;
    background-color: lightsteelblue;
    border-radius: 10px;
    height: 40px;
    color: darkslateblue;
    font-size: 20px;
}

.delete-btn {
    background-color: aliceblue;
}

#add-task-button:hover {
    background-color: aliceblue;
    border: 3px solid green;
    color: green;
}

#add-task-button:active {
    box-shadow: 0 0 2px 2px green;
}

.delete-btn:hover {
    background-color: lightsteelblue;
    border: 3px solid darkred;
    color: darkred;
}

.delete-btn:active {
    box-shadow: 0 0 2px 2px darkred;
}

#inp-box {
    margin: 5px auto;
    width: 100%;
    text-align: justify-all;
}

#task-list {
    padding: 0;
}

li {
    width: 90%;
    margin: 20px auto;
    text-align: left;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px slategrey;
}

 .task-box {
     margin: 5px;
     text-align: justify-all;
 }

 .del-btn-box {
     text-align: right;
 }

 .check-box {
     width: 25px;
     height: 25px;
 }

 .done {
     text-decoration: line-through;
     background-color: lightsteelblue;
 }

 td {
     vertical-align: top;
 }

 span {
     word-break: break-all;
 }

@media screen and (max-width: 1024px) {
    html {
        font-size: 30px;
    }

    #header, #content {
        width: 90vw;
    }

    #input-task {
        height: 50px;
        font-size: 30px;
    }

    #add-task-button, .delete-btn {
        height: 50px;
        font-size: 30px;
    }

    #add-task-button:hover {
        background-color: lightsteelblue;
        border: 3px solid darkslateblue;
        color: darkslateblue;
    }

    #add-task-button:active {
        background-color: aliceblue;
        border: 3px solid green;
        color: green;
        box-shadow: 0 0 2px 2px green;
    }

    .delete-btn:hover {
        background-color: aliceblue;
        border: 3px solid darkslateblue;
        color: darkslateblue;
    }

    .delete-btn:active {
        background-color: lightsteelblue;
        border: 3px solid darkred;
        color: darkred;
        box-shadow: 0 0 2px 2px darkred;
    }

    .check-box {
        width: 35px;
        height: 35px;
    }
}


